<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trending now</p>
		<a class="panel-block">
			Covid cluster 
		</a>
		<a class="panel-block">
			State Basketball W(82-69)
		</a>
		<a class="panel-block">
			 COOlz
		</a>
	</nav>
</div>