<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends/Profile [Placeholder]</p>
		<a class="panel-block">
			New Covid cluster 
		</a>
		<a class="panel-block">
			State Basketball W(82-69)
		</a>
		<a class="panel-block">
			Trend 3 
		</a>
	</nav>
</div>